# Werkzeug keeps breaking Flask!
Werkzeug==1.0.1

# Runtime dependencies
Flask==1.1.4
python-dotenv==0.18.0

# Runtime tools
gunicorn==19.10.0
honcho==1.1.0

# Code quality
pylint==1.9.5
flake8
black====22.3.0

# Testing dependencies
nose
pinocchio
coverage

# Utilities
httpie
